/* .check-mark__container{
    position: absolute;
    top: 7%;
    left: 7%;
    background-color: white;
}

.check-mark__box{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: white;
    border-radius: 25%;
}

.check-mark__img{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    /* visibility: hidden; */
