.nft-list__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
}

.nft-box__container{
    width: 224px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
}

.image__wrapper img{
  max-width: 90%;
  max-height: 240px;
  border-radius: 5px;
}


.nft-image__container{
    background-color: #1E222D;
    height: 244px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image__wrapper{
    display: flex;
    justify-content: center;
}


.nft-content__container{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #292F3F;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.nft-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nft-number{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
    .nft-box__container{
        width: 148px;
        height: 260px;
    }
    .nft-list__wrapper{
        gap: 16px;
        justify-content: space-around;
    }
    .image__wrapper img{
        max-height: 190px;
      }
}

@media screen and (max-width: 375px) {
    .nft-box__container{
        width: 120px;
        height: 200px;
    }
    .nft-list__wrapper{
        gap: 10px;
        justify-content: center;
    }
    .image__wrapper img{
        max-height: 140px;
      }
}