.nft-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 12px;
  padding-top: 5px;
}

.nft-box__wrapper{
  position: relative;
}

.listed-view__not-whitelisted{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #ececf19a;
  backdrop-filter: blur(0.2rem) grayscale(40%);
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* padding-right: 10px; */
}
.listed-nft-radio, .listed-nft-radio--selected{
  width: 24px;
  height: 24px;
  background: #F6F6F8;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.212);
  position: relative;
}
.listed-nft-radio::after{
    position: absolute;
    left: 3px;
    top: 3px;
    content: "";
    width: 16px;
    height: 16px;
    background: #62718A;
    opacity: 0.2;
    border-radius: 50%;
}
.nft-radio , .nft-radio--selected{
  position: absolute;
  width: 24px;
  height: 24px;
  background: #F6F6F8;
  border: 1px solid white;
  left: 12px;
  top: 12px;
  border-radius: 50%;
  box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.212);
}
.listed-nft-radio--selected::after{
  position: absolute;
  left: 2px;
  top: 2px;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../../assets/img/icons/checked.svg");
}
.nft-radio::after{
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: #62718A;
  opacity: 0.2;
  border-radius: 50%;
  top: 3px;
  left: 3px;
}
.nft-radio--selected::after{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  color: white;
  width: 18px;
  height: 18px;
  background-image: url("../../assets/img/icons/blue_check-small.svg");
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

.nftListed__info{
  display: flex;
  align-items: center;
  gap: 16px;
  color: #222222;

}
.nftListed .image--toggle{
  display: none;
}

.not-whitelisted{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #292F3F99;
  backdrop-filter: blur(0.1rem) grayscale(30%);
}

.listed-view__not-whitelisted__button{
  background: #3E64ED;
  border-radius: 11px;
  width: 115px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.listed-view__not-whitelisted__button a{
  color: white;
}

.listed-view__not-whitelisted__button:hover, .listed-view__not-whitelisted__button:visited, .listed-view__not-whitelisted__button:active{
  color: white;
}


.listed-view__not-whitelisted__text{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgb(43, 41, 41) !important;
}

.try{
  padding: 12px 16px 12px 30px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(107, 107, 107);
}

.broken-url__wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

}

.broken-url-listed__wrapper{
  padding: 4px;
  display: flex;
  gap: 1vw;
}

.broken-url-listed__wrapper img{
 max-width: 32px;
}

.broken-url-listed__wrapper .broken__text{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.broken__text{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}

.not-whitelisted__wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  gap: 0.5rem;
}

.not-whitelisted__button{
  background-color: #3E64ED;
  font-size: 12px;
  padding: 12px 8px;
  border-radius: 11px;
  font-weight: 400;
  line-height: 18px;
  color: white;
}
.not-whitelisted__button:hover, .not-whitelisted__button:active{
  color: white;
}

.not-whitelisted__text{
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: white;
}

.not-whitelisted:hover{
  border-color: transparent !important;
}

.listed__view img, .listed__view video{
  width: 30px;

  margin-right: 5px;
  border-radius: 4px;
}

.listed__view{
  display: flex;
}

.nft-box__container {
    margin-top: 1px;
    width: 190px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid white;
    transition: all 0.5s;

}

.broken-url{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #62718A;
}

.nftList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nftListed .brocken-url{
  flex-direction: row;
}

.nftListed .brocken-url img{
  width: 32px;
  height: 32px;
}

.brocken-url-selected{
  width: 32px;
  padding: 1px;
  border: 1px solid rgba(128, 128, 128, 0.411);
  border-radius: 5px;
  background-color: tomato;
}

.brocken-url__msg{
  text-align: center;
}

.preload__container{
  overflow: hidden;
  position: relative;
    width: 190px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-border-radius: 20px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.preload__container::before{
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 300%;
  transform: rotate(227deg);
  opacity: 0.3;
background: linear-gradient(270deg, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 60%);
  animation: shine 5s infinite;
}

@keyframes shine {
  form {left: -210%;}
  to{left: 200%;}
}

.preload__image{
  background: #ececf1;

    flex-grow: 4;
}
.preload-cont {
  pointer-events: none;
}
.preload__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #a4a4a8;


    flex-grow: 1;
    pointer-events: none;
}
.preload-content-container {
  pointer-events: none;
}

.nftSelecItem .image--toggle{
  display: none;
}



.preload__name{
    height: 10px;
    width: 80%;
    background: #ececf1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    overflow: hidden;
}

.preload__number{
    height: 10px;
    width: 50%;
    background: #ececf1;
    border-radius: 5px;
}

.image__wrapper img, .image__wrapper video {
    max-width: 80%;
    max-height: 240px;
    border-radius: 5px;
}

.nft-image__container {
    background: #9e9e9e;
    height: 244px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border: 1ps solid white;
}


.image__wrapper {
  display: flex;
  justify-content: center;
}

.nft-content__container {
  background: #F0F2F5;
  height: 65px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1ps solid white;
}

.nft-box__container--selected {
    margin-top: 1px;
    width: 190px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    border-radius: 20px;
    -moz-border-border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.5s;
}
.nft-box__container:hover, .nft-box__container--selected:hover{
  border: 1px solid transparent;
  box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.52);
}



.selected-radio {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 26px;
  height: 26px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.705);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.radio__container img{
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.705);
}

.nft-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft-number {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.singleNft.missing {
  background: #ECECF14D;
  padding-top: 3px;
  padding-bottom: 138%;
  width: 190px;
}

.singleNft.missing:hover {
  cursor: unset;
}

.missing{
  height: 100%;
}

.video__wrapper, .img__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.video--toggle, .image--toggle{
  position: absolute;
  bottom: 35px;
  right: 25px;
}

.video--toggle:hover{
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.5); 
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.5);
}

.image--toggle:hover{
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.5); 
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.5);
}

.image--toggle, .video--toggle{
  border-radius: 50%;
}

.triangle--toggle{
  position: absolute;
}

@media screen and (max-width: 768px) {
  .nft-list__wrapper{
    gap: 8px;
  }
  .nft-box__wrapper{
    margin-left: 2px;
    width: calc(100% / 3.33);
  }
  .nft-box__container{
    max-width: 100%;

  }
  .nft-box__container--selected{
    max-width: 100%;

  }
  .missing-nft-box__wrapper{
    margin-left: 2px;
    width: calc(100% / 3.33);
  }
}

@media screen and (max-width: 600px){
  .nft-list__wrapper{
    gap: 10px;
  }
  .nft-box__wrapper {
    width: 47%;
  }
  .nft-box__container{
    width: 100%;
  }
  .nft-box__container--selected{
    width: 100%;
  }
  .missing-nft-box__wrapper{
    width: 47%;
  }
  .nft-box__wrapper:hover{
    outline: unset;
  }
}

@media screen and (max-width: 375px){
  .nft-list__wrapper{
    gap: 10px;
  }
  .nft-box__container{
    width: 100%;
   /*max-height: 240px;*/
  }
  .nft-box__container--selected{
    width: 90%;
    max-height: 240px;
  }
  .missing-nft-box__wrapper{
    width: 45%;

  }
  .preload__container{
    width: calc(100% - 15px);
  }
}

@media screen and (max-width: 425px) {
  .image__wrapper{
    max-height: calc(100% - 30px);
  }
  .nft-image__container{
    /*max-height: 170px;*/
  }
  .radio__container{
    
  }
  .preload__container{
    width: 100%;
    height: 100%;
  }
}
