.nft__card,
.nft__card--selected {
    margin: 0 auto;
    width: 200px;
    height: 268px;
    background: #f0f2f5;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
}
.nft__card:hover,
.nft__card--selected:hover {
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.52);
}
.nft__main {
    height: 204px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}
.nft__footer {
    height: 64px;
    border-top: 1px solid white;
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    border: 1ps solid white;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
