.success-modal .modal-dialog{
    max-width: 570px;
    min-height: 500px;
}

.success-modal .modal-content{

}

.success-modal .modal-header{
    padding-top: 30px;
}

@media screen and (max-width: 320px) {
}