
.select-all{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    position: relative;
    cursor: pointer;
}
.select-all::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 24px;
    height: 24px;
    background-image: url("../../assets//img//icons/gray_check.svg");
}

.delete-all{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}
.delete-all::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 24px;
    height: 24px;
    background-image: url("../../assets//img//icons/blue_check.svg");
}
.change-view__button{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}
.chain-switch{
    display: flex;
    align-items: center;
    background: #F7F8F9;
    color: #14161A;
    border: 1px solid white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    gap: 6px;
    padding: 6px;
    border-radius: 38px;
    box-shadow: 0px 4px 24px rgba(180, 185, 199, 0.25);
    cursor: pointer;
}
.arrow-down {
    position: relative;
    width: 10px;
    height: 10px;
    background-image: url("../../assets/img/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 9px;
}
.chain-switch:hover .arrow-down::before{
    position: absolute;
    top: 0; 
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("../../assets/img/icons/arrow-down-hovered.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.refresh-button{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    border-radius: 168px;
    cursor: pointer;
    position: relative;

}
.refresh-button--disabled{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    border-radius: 168px;
    pointer-events: none;
    opacity: 0.6;
    position: relative;
}
.refresh-button::after, .refresh-button--disabled::after{
    position: absolute;
    content: "";
    top: 8px;
    left: 10px;
    width: 22px;
    height: 22px;
    background-image: url(../../assets/img/refresh.svg);
    background-repeat: no-repeat;
}
.refresh-button:hover::after, .refresh-button--disabled:hover:after{
    position: absolute;
    content: "";
    top: 8px;
    left: 10px;
    width: 22px;
    height: 22px;
    background-image: url("../../assets/img/icons/blue_refresh.svg");
    background-repeat: no-repeat;
}
.search-button{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    border-radius: 168px;
    cursor: pointer;
}
.search-button:after{
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../../assets/img/icons/Search.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.selected-nfts__button{
    display: flex;
    gap: 6px;
    align-items: center;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    border-radius: 168px;
    padding: 10px 10px;
    cursor: pointer;
}
.selected-nfts__title{
    color: #14161A;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.selected-nfts__selected{
    color: #395FEB;
}
.close__btn{
    position: relative;
    min-width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    border-radius: 168px;
    cursor: pointer;
}
.close__btn::after{
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 8px;
    left: 7px;
    background-image: url("../../assets/img/icons/close.svg");

}
@media screen and (min-width: 426px) {
    .selected-nfts__button{
        display: none;
    }
}