.whitelist-error-body {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    min-width: min-content;
    margin: 0 auto;
    word-break: keep-all;
}

.whitelist-error-body .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
    text-align: left;
}

.whitelist-error-body .message {
    margin-bottom: 6px;
    text-align: left;
}
