.whitelist-error-body {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 0 auto;
    word-break: normal;
}

.whitelist-error-body .title {
    margin-bottom: 10px;
}

.whitelist-error-body .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    text-align: left;
}

.whitelist-error-body .message {
    margin-bottom: 10px;
    text-align: left;
}
