.transfer-board {
    color: #14161A;
    background: #F7F8F9;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 14px rgba(47, 61, 84, 0.05);
    border-radius: 20px;
    padding: 24px 20px;
    height: 100%;
    min-height: 778px;
    display: flex;
    flex-direction: column;
}
.transfer-board > form {
    display: contents;
}
.destination-props {
    padding: 12px 0 22px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ECEEF4;
}
.destination-props input::placeholder {
    color: #62718a;
} 
.destination-props input:focus {
    border: 1px solid #fff;
}
.destination__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 12px;
}
.destination__title{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}
.destination__address input{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 44px;
    border-radius: 40px;
    outline: none;
    border: 1px solid #E0E4EB;
    padding-left: 16px;
}
.destination__address input::placeholder{
    color: #62718A;
}

.desChain span img:nth-child(2) {
    margin-left: 4px;
}

.selectedNft {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 16px 16px 12px;
}
.selected-nfts__header{
    color: #14161A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desktop__header span{
    color: #3e64ed;
}
.clear-selected{
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    color: #62718A;
    padding: 4px 10px;
    background: #ECEEF4;
    border-radius: 40px;
    cursor: pointer;
}
.clear-selected:hover{
    background: #E4E7F3;
    color: #395FEB;

}
.selected-nfts__body{
    color: black;
    background: #F3F3F6;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 15.5px;
}
.selected-nfts-item{
    display: flex;
    align-items: center;
    min-height: 44px;
    gap: 12px;
    padding: 6px 17.5px 6px 8px;
    cursor: pointer;
}
.selected-nfts-item:hover{
    background: #ECECF1;
}
.selected-nfts__delete{
    margin-left: auto;
    max-width: 18px;
    visibility: hidden;
}
.selected-nfts-item:hover .selected-nfts__delete{
    visibility: visible;
}
.approval{
    margin-top: 5px;
    padding:15px 11px 10px 8px;
    background: #F3F3F6;
    border-radius: 8px;
}
.approval__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.approval__inf{
    position: relative;
}
.approval__inf:hover::before{
    content: "We'd like to make sure you really want to send the NFTs and pay the associated fees.";
    position: absolute;
    font-size: 12px;
    width: 220px;
    bottom: 30px;
    left: -100px;
    padding: 8px;
    background: #F3F3F6;
    border-radius: 10px;
    box-shadow: 0px 4px 24px rgba(180, 185, 199, 0.50);
}
.approval__inf:hover::after {
    position: absolute;
    z-index: 0;
    left: 50%;
    content: "";
    width: 15px;
    height: 15px;
    box-shadow: 0px 4px 24px rgba(180, 185, 199, 0.50);
    background: #F3F3F6;
    border-left: 0;
    border-top: 0;
    transform: translate(-50%) rotate(45deg);
    margin-top: -40px;
}
.info-icon{
    position: relative;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/img/icons/info.svg");
    background-position: center;
    cursor: help;
}
.info-icon:hover::after{
    content: "";
    width: 20px;
    height: 20px;
    background: #F3F3F6;
    background-image: url("../../assets/img/icons/info_hover.svg");
    background-position: center;
    position: absolute;
}
.approveBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #14161A;
}
.approveBtn input {
  display: none;
}
.approveBtn label {
    margin: 0;
    width: 56px;
    height: 31px;
    background: #EBEFF4;
    border-radius: 56px;
    border: 1px solid #D4D7DD;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s ease all;
}
.approveBtn input:checked + label {
    background: #395FEB;
}
.approveBtn input:checked + label .checkCircle {
  left: 27px;
}
.approveBtn input:checked + label .checkCircle:after {
    background-image: url(../../assets/img/icons/CheckGreen.svg);
}
.fees {
    margin: 5px 0;
    background: #F3F3F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #14161A;
    height: 62px;
    padding: 16px;
}
.transfer-button--disabled, .transfer-button{
    border: 1px solid #395FEB;
    width: 100%;
    height: 54px;
    border-radius: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #395FEB;
    margin-top: 16px;
}
.transfer-button:hover{
    background-color: #395FEB;
    cursor: pointer;
    color: white;
}
.transfer-button:active{
    background: #2D51D0;
}