.tron-connection-error{
    /* position: relative; */
}

.tron-connection-error-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
}


.tron-error-title{
    text-align: center;
    padding: 20px 0;
}

.tron-login-error__header{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}

.tron-login-error__header img{
    width: 35%;
}

.technical-support__body{
    text-align: center;
    /* padding: 0, 0, 5vh, 0; */
    color: white;
}

.install{
    text-align: center;
    padding: 0, 0, 5vh, 0;
    color: white;
}