
.nftSelected__name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sucesList{
    position: relative;
}

.tooltip-icon{
    position: absolute;
    right: -56px;
    top: -45px;
    cursor: pointer;
}

.tooltip-icon:hover{
    cursor: pointer;
}

.success__copy{
    cursor: pointer;
}

.tx-status{
    height: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.tx-txt{
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    width: 60px;
}
.tx-icon img{
    width: 16px;
}
.pending{
    color: #C058FF;
}
.completed{
    color: #10B67A;
}
.failed{
    color: #C23165;
}

@media screen and (max-width: 375) {
    .nft--success .nftSelecItem{
        padding: 6px 20px !important ;
    }
}
