.custom-success-modal__wrapper{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100500;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-attachment: fixed; */
}

.custom-success-modal__close{
    position: absolute;
    top: 50px;
    right: 70px;
    cursor: pointer;
}

.custom-success-modal__close:hover{
    filter: brightness(10);
}

.custom-success-modal{
    width: 570px;
    min-height: 500px;
    border: 1px solid rgba(53, 53, 53, 0.527);
    background: linear-gradient(308.55deg, #232833 54.09%, rgba(35, 40, 51, 0) 137.15%);
    border-radius: 20px;
    opacity: 0.9;
    backdrop-filter: blur(15px);
}

.custom-success-modal__header{
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.custom-success-modal__body{
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.custom-success-modal__info{
    border-radius: 6px;
    background: linear-gradient(309.48deg, #282E3C -3.65%, rgba(40, 46, 60, 0) 122.77%);
    padding: 10px 30px;
}