
footer {
    margin: auto;
    width: 1024px;
    z-index: 1;
}
  
  .footContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 16px;
    border-top: 1px solid rgba(98, 113, 138, 0.4);
  }
  
  ul.socialLInks {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  ul.socialLInks li {
    margin-right: 6px;
  }
  a.socliLink img {
    width: 24px;
  }
  ul.socialLInks li img:hover {
    filter: brightness(100);
  }
  .footRight {
    display: flex;
  }
  .powerBy img {
    display: block;
  }
  
  @media screen and (max-width: 1024px) {
    footer {
      width: 768px;
    }
  }
  @media screen and (max-width: 768px) {
    footer {
      width: 738px;
   }
  }
  @media screen and (max-width: 425px) {
    footer {
      width: 375px;
   }
  }
  @media screen and (max-width: 375px) {
    footer {
      width: 346px;
   }
  }