.navbar{
  padding: 0;
  width: 1024px;
  margin: 0 auto;
}
.navbar-brand{
  padding: 0;
  margin: 0;
  display: flex;
  gap: 7.61px;
  cursor: pointer;
}
.navbar-brand div{
  margin-top: 29px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.navbar-nav{
  margin-left: auto;
  margin-top: 14px;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  
}
.nav-link{
  border-radius: 76px;
  margin: 0 2px;
  display: flex;
  align-items: center;
}
.nav-link:hover{
  background: rgba(255, 255, 255, 0.4);
}
.nav-link--selected{
  background: rgba(255, 255, 255, 0.4);
}
.navbar-connect{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: #62718A;
  padding: 10px 16px;
  background: rgba(207, 207, 217, 0.2);
  border: 1px solid rgba(207, 207, 217, 0.9);
  box-sizing: border-box;
  border-radius: 52px;
  cursor: pointer;
  margin-left: 2px;
}
.navbar-connect:hover{
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #8994A8;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("../assets/img/nav/burger.svg");
}
.navbar-toggler {
  margin-top: 10px;
  border: none;
}
.identicon{
  margin-left: 4px;
  border-radius: 50%;
}

 @media screen and (max-width: 1024px) {
  .navbar{
    width: 768px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 990px) {
  .navbar-nav{
    background: rgb(247,247,249);
    background: linear-gradient(180deg, rgba(247,247,249,0) 0%, rgba(247,247,249,1) 20%, rgba(247,247,249,1) 100%);
    border-radius: 0px 0px 20px 20px;
    border-bottom: 1px solid white;
  }
  .navbar-nav:first-child{
    padding-top: 20px;
  }
  .nav-link{
    justify-content: flex-end;
    padding-right: 18px !important;
  }
  .navbar-connect{
    margin: 2px;
  }
}
@media screen and (max-width: 768px) {
  .navbar{
    width: calc(100% - 10px);
  }
}
@media screen and (max-width: 325px) {
  .navbar{
    width: calc(100% - 5px);
  }
  .navbar-brand div{
    font-size: 14px;
    letter-spacing: 0em;
  }
} 