.container{
    width: 1024px !important;
}
.NFTaccount {
    margin-top: 80px;
    margin-bottom: 80px;
}  
.nftListTop {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.nft_selectBox {
    background: #F7F8F9;
    border: 1px solid white;
    border-radius: 20px;
    padding: 16px 0;
    padding-left: 25px;
    height: 100%;
    position: relative;
    z-index: 1;
}  
.nftTopRIght{
    display: flex;
    align-items: center;
    gap: 8px;
}
.select-all{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    position: relative;
    cursor: pointer;
}
.select-all::after{
    content: "\2713";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    width: 24px;
    height: 24px;
    background: #9b9b9b;
    transition: all 0.2s;

}
.select-all:hover::after{
    background: #395FEB;
}
.delete-all{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}
.delete-all::after{
    content: "x";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    width: 24px;
    height: 24px;
    background: #9b9b9b;
    transition: all 0.2s;
}
.delete-all:hover::after{
    background: #ca4646;
    
}
.change-view__button{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}
.list-icon{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/img/icons/list-view.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.change-view__button:hover .list-icon{
    background-image: url("../../assets/img/icons/list-view_hovered.svg");
}

.search-dropdown .dropdown-toggle{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    position: relative;
    cursor: pointer;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.search-dropdown .dropdown-toggle::after{
    display: none !important;
}
.search-dropdown .dropdown-menu{
    inset: -45px auto auto -210px !important;
    height: 44px;
    padding: 0;
    margin: 0;
    border-radius: 40px;
    overflow: hidden;
}
.search-dropdown .dropdown-menu input{
    border: 0;
    padding-left: 10px;
    padding-top: 10px;
    outline: unset;
}
.mobileOnly{
    background: #F7F7F9;
    padding-bottom: 16px;
    margin-bottom: 12px;
}
.mobileOnly .desChain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    font-weight: 500;
    color: #14161A;
    line-height: 126%;
}
.mobileOnly .desAddress input{
 background-color: white;
 border-radius: 40px;
 border: 1px solid #E0E4EB;
 height: 44px;
}
.mobile-col{
    background: #F3F3F6;
}
.mobile-col__tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: #14161A;
    padding: 22px 16px 16px 16px;
    border-bottom: 1px solid white;
}
.mobile-col__header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 10px 16px 10px;
    color: #14161A;
    border-bottom: 1px solid white;
}
.mobile-col__header .chain-switch{
    margin-left: auto;
}
.yourNft--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10px;
    border: 1px solid white;
}
.mobile-nfts__header{
    padding: 20px 10px 0px 10px;
    width: 100%;
    display: flex;
    align-items: center;
}
.mobile-nfts__list{
    display: flex;
    flex-direction: column;
}
.mobile-nfts__buttons{
    margin-left: auto;
    display: flex;
    gap: 6px;
}
.mobile-nfts__body{
    padding: 0 10px;
}


@media screen and (min-width: 768px) {
    .mobile-col{
        display: none;
    }

    .nft_selectBox {
        border: 1px solid white;
      }
}
@media screen and (min-width: 426px) {
    .nft_selectBox {
        border: 1px solid white;
    }
    .yourNft--mobile {
        display: none;
    }
}

@media screen and (min-width: 320px) {
    .nftListCol{
        padding: 0;
    }
}
@media screen and (max-width: 769px){
    .row{
        display: none;
    }
    .container{
        padding: 0;
    }
    .mobile-nfts__body .selected-nfts__header{
        display: none;
    }
}

@media screen and (max-width: 426px) {
    .nftListTop{
        padding: 20px 10px;
    }
    .nft_selectBox{
        padding: 0;
        border-radius: unset;
    }
    .nft-list__wrapper{
        justify-content: center;
    }
    .mobileOnly .destiAddress{
        padding: 0 16px;
    }
    .NFTaccount {
        margin: 0;
    }

}