.container{
    width: 1024px !important;
}
.NFTaccount {
    margin-top: 60px;
    margin-bottom: 80px;
}  
.nftListTop {
    padding: 14px 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.nft_selectBox {
    background: #F7F8F9;
    border: 1px solid white;
    border-radius: 20px;
    padding: 16px 0;
    padding: 10px;
    /*height: 100%;*/
    position: relative;
    z-index: 1;
}  
.nftTopRIght{
    display: flex;
    align-items: center;
    gap: 8px;
}
.list-icon{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/img/icons/ListView.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.grid-icon{
    position: absolute;
    top: 7px;
    left: 7px;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/img/icons/GridView.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.change-view__button:hover .grid-icon{
    background-image: url("../../assets/img/icons/Gridview_hovered.svg");
}
.change-view__button:hover .list-icon{
    background-image: url("../../assets/img/icons/listView_hovered.svg");
}

.search-dropdown .dropdown-toggle{
    width: 40px;
    height: 40px;
    background: #F6F6F8;
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 50%;
    box-shadow: 0px 1px 9px rgba(55, 63, 92, 0.12);
    position: relative;
    cursor: pointer;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.search-dropdown .dropdown-toggle::after{
    display: none !important;
}
.search-dropdown .dropdown-menu{
    inset: -45px auto auto -170px !important;
    height: 44px;
    padding: 0;
    margin: 0;
    border-radius: 40px;
    overflow: hidden;
    width: 200px;
}
.search-dropdown .dropdown-menu input{
    border: 1px solid #fff;
    padding-left: 10px;
    padding-top: 10px;
    outline: unset;
    background-color: #F6F6F8;
  
}
.mobileOnly{
    background: #F7F7F9;
    padding-bottom: 16px;
    margin-bottom: 12px;
}
.mobileOnly .desChain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    font-weight: 500;
    color: #14161A;
    line-height: 126%;
}
.mobileOnly .desAddress input{
 background-color: white;
 border-radius: 40px;
 border: 1px solid #E0E4EB;
 height: 44px;
}
.mobile-col{
    background: #F3F3F6;
}
.mobile-col__tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: #14161A;
    padding: 22px 16px 16px 16px;
    border-bottom: 1px solid white;
    background: #F7F7F9;

}
.mobile-col__header{
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 10px;
    padding: 22px 10px 16px 10px;
    color: #14161A;
    border-bottom: 1px solid white;
    background: #F7F7F9;
    font-weight: 500;
}
.mobile-col__header .chain-switch{
    margin-left: auto;
}
.yourNft--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10px;
    border: 1px solid white;
}
.mobile-nfts__header{
    padding: 20px 10px 16px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #F7F7F9;
    border-bottom: 1px solid white;
}
.mobile-nfts__list{
    display: flex;
    flex-direction: column;
}
.mobile-nfts__buttons{
    margin-left: auto;
    display: flex;
    gap: 6px;
}

.nftListBox {
    width: 100%;
    max-height: 680px;
    overflow: hidden auto;
    margin-right: -24px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .nftListBox::-webkit-scrollbar {
    display: none;
  }

  .mobile-search__top{
    display: flex;
    gap: 12px;
    justify-content: space-between;
    padding: 20px 10px 16px 10px;
    background: #F3F3F6;
    border-bottom: 1px solid transparent;
}
.mobile-search-input__box input{
    position: relative;
    width: 100%;
    height: 100%;
    background: #ECECF1;
    border: 1px solid #D4D9E1;
    box-shadow: 0px 1px 5px rgba(180, 185, 199, 0.25);
    border-radius: 38px;
    padding-left: 36px;
}
.mobile-search-input__box{
    position: relative;
    width: 100%;
    
}
.mobile-search-input__icon{
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 14px;
    width: 16px;
    height: 16px;
    background-image: url("../../assets/img/icons/lupa.svg");
    background-size: 16px;
    background-position: center;
}
.mobile-search-input__box input::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}


#SearchDrop {

}

@media screen and (min-width: 768px) {
    .mobile-col{
        display: none;
    }

    .nft_selectBox {
        border: 1px solid white;
      }
}
@media screen and (min-width: 426px) {
    .nft_selectBox {
        border: 1px solid white;
    }
    .yourNft--mobile {
        display: none;
    }
    .nftListBox{
        /* max-height: unset; */
        height: 560px !important;
    }
}

@media screen and (min-width: 320px) {
    .nftListCol{
        padding: 0;
    }
}
@media screen and (max-width: 769px){
    .row{
        display: none;
    }
    .container{
        padding: 0;
    }
    .mobile-nfts__body .selected-nfts__header{
        display: none;
    }
}

@media screen and (max-width: 426px) {
    .nftListTop{
        padding: 20px 10px;
    }
    .nft_selectBox{
        padding: 0;
        border-radius: unset;
    }
    .mobileOnly .destiAddress{
        padding: 0 16px;
    }
    .NFTaccount {
        margin: 0;
    }
    .aboutNft{
        padding-top: 0;
    }
    .nftListBox{
        border-radius: unset;
    }
}